---
layout: default
---

#left-column
  %h1.pagetitle #{page.title}
  .post
    .byline
      .author
        = page.author
      .date
        Published: #{page.date.strftime( '%d %B %Y' )}
      .tags
        - unless page.tags.empty?
          Tags:
          - page.tags.each do |tag|
            %a{:href=>tag.primary_page.url}
              = tag
    .body
      ~ content
    .comments
      = page.intense_debate_comments
#right-column
  = partial( 'latest_posts.html.haml' )
  %h1 Tweet it!
  #twitter
    :plain
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="boxgrinder">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  #googleplus
    :plain
      <!-- Place this tag where you want the +1 button to render -->
      <g:plusone size="small"></g:plusone>

      <!-- Place this render call where appropriate -->
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>

