---
layout: default
---

#left-column
  - unless page.hide_title
    %h1.pagetitle #{page.title}
  ~ content
#right-column
  %h1 Latest stable release
  #latest-release
    BoxGrinder Build:
    %a{:href=>"#{announcement_for_version(latest_release[:version]).url}"}
      = latest_release[:version]
  = partial( 'latest_posts.html.haml' )
  = partial( 'latest_tweets.html.haml' )
  %h1 Cool stuff
  #cool-stuff
    :markdown
      [Desktop wallpaper](http://www.jboss.org/coolstuff/desktopwallpapers/boxgrinder.html) | [Project Swag](http://www.cafepress.com/jbossorg/7089670)
  %h1 Tweet it!
  #twitter
    :plain
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="boxgrinder">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  #googleplus
    :plain
      <!-- Place this tag where you want the +1 button to render -->
      <g:plusone size="small"></g:plusone>

      <!-- Place this render call where appropriate -->
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>

