---
layout: one-column
title: BoxGrinder Build Meta appliance download
---

:textile
  h2(callout). Learn more about meta appliance usage "in this article":/tutorials/boxgrinder-build-meta-appliance

%h1 Latest meta appliance, version #{latest_meta_appliance.version}

:markdown
  This is the latest and greatest meta appliance. It's based on **#{latest_meta_appliance.os.name} #{latest_meta_appliance.os.version}** operating system.

  > If you find any issues with meta appliances - [let us know](/community)!

%h2 Amazon EC2 AMI's

- latest_meta_appliance.amis.regions.each do |region, amis|
  %h3 #{region} region, #{latest_meta_appliance.amis.backend} based
  %ul
    - amis.each do |arch, ami|
      %li
        %strong
          #{arch}
        #{ami}

%h2 Offline appliances
%ul
- latest_meta_appliance.links.each_key do |platform|
  - latest_meta_appliance.links[platform].each_key do |arch|
    %li
      %a{:href => "#{latest_meta_appliance.links[platform][arch][:url]}"}
        #{platform} #{arch} appliance
      [#{latest_meta_appliance.links[platform][arch][:size]} MB]

%hr

- unless latest_beta_meta_appliance.nil?
  %h1 Beta of meta appliance, version #{latest_beta_meta_appliance.version}

  :markdown

    > Note: We do not support Beta meta appliances.

    This is the latest **Beta** of meta appliance. It's based on **#{latest_beta_meta_appliance.os.name} #{latest_beta_meta_appliance.os.version}** operating system. Most probably you want to use latest stable meta appliance listed above.

  %h2 Amazon EC2 AMI's

  - latest_beta_meta_appliance.amis.regions.each do |region, amis|
    %h3 #{region} region, #{latest_beta_meta_appliance.amis.backend} based
    %ul
    - amis.each do |arch, ami|
      %li
        %strong
          #{arch}
        #{ami}

  %h2 Offline appliances
  %ul
  - latest_beta_meta_appliance.links.each_key do |platform|
    - latest_beta_meta_appliance.links[platform].each_key do |arch|
      %li
        %a{:href => "#{latest_beta_meta_appliance.links[platform][arch][:url]}"}
          #{platform} #{arch} appliance
        [#{latest_beta_meta_appliance.links[platform][arch][:size]} MB]

  %hr

%h1 Meta appliance archive
:markdown
  > We *strongly encourage you* to use latest, #{latest_meta_appliance.version} meta appliances. Use older appliances only in case of emergency :)

%p
  %a{:id => 'archivetoggle', :href => '#'}
    Show/hide archived meta appliances

%div{:id => 'archive', :style => 'display:none'}
  - meta_appliances[1..meta_appliances.size] .each do |appliance|
    %h3 Meta appliance #{appliance.version}
    :markdown
      This meta appliance is based on **#{appliance.os.name} #{appliance.os.version}** operating system.

    %h4 Amazon EC2 AMI's

    - appliance.amis.regions.each do |region, amis|
      %h5 #{region} region, #{appliance.amis.backend} based
      %ul
        - amis.each do |arch, ami|
          %li
            %strong
              #{arch}
            #{ami}

    %h4 Offline appliances
    %ul
      - appliance.links.each_key do |platform|
        - appliance.links[platform].each_key do |arch|
          %li
            %a{:href => "#{appliance.links[platform][arch][:url]}"}
              #{platform} #{arch} appliance
            [#{appliance.links[platform][arch][:size]} MB]

:javascript

  $('#archivetoggle').click(function() {
    $('#archive').slideToggle('slow');
    return false;
  });
